@import "~bootstrap/scss/bootstrap";
.message {
  display: block;
}
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.formContainer {
  padding-top: 3rem;
  width: 80%;
  margin: auto;
  gap: 1rem;
  .row {
    padding-left: 0;
  }

  .title {
    width: 50%;
  }
  .form-bin {
    padding-left: 0;
  }
  button {
    width: 30%;
    margin: auto;
  }
}
